
  .sections{
    padding: 1em;
    margin-left: 1em;
    
    .credit-list{
        margin: 1em 0 0 1em;
        font-size: 1.5em;
        a{
            color: white;
            text-decoration: none;
        }
    }
}
